html, body {
  background-color: #b7b7b7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  text-align: center;
}

/* main コンテンツ */
main {
  align-items: center;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  color: #454545;
}

.introduction {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}
