/* クラス設計を導入 */
/* BEM, block__element--modifier */

.review-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-list__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.review-list__error {
  color: red;
  margin-top: 10px;
}

.new-review__post {
  font-size: 20px;
  color: #705c53;
}

.new-review__post:hover {
  text-decoration: underline; /* ホバー時に下線を表示 */
}
