/* クラス設計を導入 */
/* BEM, block__element--modifier */

.review-list__items {
  display: grid;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.review-list__item {
  border: 3.5px solid white;
  border-radius: 4px;
  width: 400px;
  background-color: #dddddd;
}

.review-list__item-title {
  font-size: 16px;
  font-weight: bold;
}

.review-list__item-title {
  font-size: 14px;
  color: #555;
  word-wrap: break-word;
  white-space: normal;
}

.review-list__item-title:hover {
  color: blue;
  text-decoration: underline; /* ホバー時に下線を表示 */
}

.review-list__edit-button {
  font-size: 14px;
  color: #705c53;
  word-wrap: break-word;
  white-space: normal;
}

.review-list__edit-button:hover {
  color: blue;
  text-decoration: underline; /* ホバー時に下線を表示 */
}
